@model SCCL.Core.Entities.Solution

<div class=" form-group">
    <div style="position:relative;">
        <label>Image</label>
        <a class='btn' href='javascript:;'>
            Choose File...
            <input type="file" name="Image" size="40"
                   style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                   onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    @if (Model.ImageData == null)
    {
        <div class="form-control-static">No Image</div>
    }
    else
    {

        <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Solutions", new {Model.Id})" alt="Service Image" />
    }
</div>
