@model SCCL.Web.ViewModels.HomeViewModel

@foreach ( var testimonial in Model.Testimonials)
{
    <li>
        <p class="testi-text">@testimonial.Message<p>
        <span class="testi-person">@testimonial.Author</span>
    </li>
}