<li>
    <p class="testi-text">"These people are the best"<p>
        <span class="testi-person">Dr. Frank Nyarko - Mechanical Engineering Dept, KNUST</span>
</li>
<li>
    <p class="testi-text">"I worked with them before and they are sure a mark of excellence above normal standards"<p>
        <span class="testi-person">Richard Adokoh - Ghana Standards Authority </span>
</li>
<li>
    <p class="testi-text">"Diverse talents grouped in one single place"<p>
        <span class="testi-person">Mr. Aveyire - Agricultural Engineering Dept, KNUST </span>
</li>