@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="space-70"></div>
<div class="container text-center">
    <div class="error-digit animated flipInY">
        404
    </div>
    <div class="space-20"></div>
    <div class="error-text">
        <h3>Page you are trying to search doesn't exist</h3>
        <p>
            @Html.ActionLink("Home", "AboutUs", "Home", null, new { @class = "btn" })
        </p>
        <br>
    </div>
</div><!--error page end-->