@{
    ViewBag.Title = "Publications - Renewable Energy";
}

@section metatags{
    <meta name="description" content="">
    <meta name="keywords" content="economics, diesel, oil, generation, ghana, power">
}

<!--Title Strip-->
<section id="content-region-3" class="page-tree-bg">
    <div class="container text-center">
        <p style="color: white;">@Html.ActionLink("Our Works", "Index", "Portfolio", null, new { @style = "color:white;"}) > Publications</p>
    </div>
</section>
<!--End of Title Strip-->

<div class="space-70"></div>

<div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 portfolio-single-slide margin-btm-40">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/Images/Publications/img-1.png" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Publications/img-2.png" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Publications/img-3.png" />
                    </li>
                </ul>
            </div><!--flex slider-->
            <div class="portfolio-single-desc">
                <h3>Economic Assessment of Utilizing Diesel Derived From Used Lubricating Oil for Power Generation in Ghana</h3>
                <h4 style="color:black">Abstract</h4>
                <p>
                    There is potential to recycle used oil (UO), waste lubricating oils from automobiles or machineries to produce diesel fuel (DF) that can contribute to energy supply in Ghana. However, very little is known about the economics of recycling UO to DF (Rec-UO-to-DF) and the DF use thereof for power generation (DF-power) in Ghana. This study assessed the economics of Rec-UO-to-DF and DF-power in Ghana under 2016 economic conditions, through developing process and economic models based on literature. The economics were assessed relative to prevailing diesel price ($0.79/l) and grid power prices ($0.08-0.24/kWh- residential and $0.24-0.41/kWh- commercial). Sensitivity analysis was undertaken to establish impacts of UO pricing on DF prices, and DF pricing on power prices. Maximum Expected Selling Price of- UO (MESP-UO) and -DF (MESP-DF) required for economic viability of the Rec-UO-to-DF and DF-power respectively were determined. The results showed a 12000 l UO/day recycling facility could produce ~8420 l DF/day, which could generate 1250 kW power via a diesel generator. UO price was found influential on DF price- 10% increase in UO price yields 3.2% increase in DF price. The MESP-UO was found at $0.21/l. Regarding DF-power, 10% increase in DF price results in 7.5% increase in power price, suggesting high reliance of process economics on the DF price. Instabilities in fuel prices therefore implies high uncertainties regarding economic viability. At prevailing DF price ($0.79/l), power price for profitability was found at $0.31/kWh (within commercial range), implying DF-power is economical for only commercial use. Extension of DF-power to residential users would require 31% reduction of prevailing DF price, which could be feasible if Rec-UO-to-DF process acquires UO at $0.05/l (~24% of MESP-UO). Enforcing environmental regulations on UO management could help lower UO prices, which will promote its recycling to DF for DF power, and thus contribute to sustainable power supply.
                </p>
                <hr>
            </div><!--portfolio detail-->
        </div>
        <div class="col-md-4">
            <div class="portfolio-side-bar">
                <p>
                    <strong>Author:</strong> Richard K. Padi
                </p>
                <p>
                    <strong>Publisher:</strong> IJIRD, Volume 6, Issue 7, July 2017
                </p>
                <p>
                    <strong>Research Area:</strong> Renewable Energy
                </p>
               
                <br>
                <p>
                    <hr/>
                    <div class="text-center">
                        <a href="http://www.ijird.com/index.php/ijird/article/view/117195" target="_blank" class="btn btn-radius theme-btn-color">View Full Text</a><br/><hr/>
                    </div>

                    <div class="text-center">
                        @Html.ActionLink("Contact Us", "Index", "Contact", null, new {@class = "btn btn-radius theme-btn-color"})
                    </div><hr/>

                </p>
            </div>
        </div>
    </div>
</div><!--portfolio single container end-->